body {
  font-family: Verdana;
  font-size: 0.875rem;
  line-height: 1.7;
  letter-spacing: 2.0833333333 em;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

.header__inner {
  width: 86.4864864865%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 3.75rem;
}
.header__nav {
  display: none;
  font-size: 1rem;
}
@media screen and (min-width:740px) {
  .header__nav {
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.header__list {
  padding-left: 1.875rem;
}
.header__side {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width:740px) {
  .header__humberger {
    display: none;
  }
}

.footer {
  background-color: #E8EDF1;
  padding: 8.5714285714em 0 14.2857142857em;
  text-align: center;
}
.footer__inner {
  width: 86.4864864865%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.footer__title {
  font-size: 2.25rem;
  font-weight: bold;
  font-family: Georgia;
}
@media screen and (min-width:740px) {
  .footer__title {
    text-align: left;
  }
}
.footer__info {
  padding: 2.5rem 0 3.75rem;
}
@media screen and (min-width:740px) {
  .footer__info {
    text-align: left;
  }
}
.footer__set {
  display: flex;
}
.footer__list {
  width: 100px;
  text-align: left;
  align-items: center;
}
.footer__copy {
  display: block;
  font-weight: bold;
}
@media screen and (min-width:740px) {
  .footer__copy {
    text-align: right;
  }
}

.main__inner {
  width: 86.4864864865%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.top {
  background-color: #DEF6FF;
}
.top__inner {
  width: 86.4864864865%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width:740px) {
  .top__inner {
    display: flex;
  }
}
.top__item {
  padding-top: 9.375rem;
  padding-bottom: 10.625rem;
}
@media screen and (min-width:740px) {
  .top__item {
    position: absolute;
    width: 56.1403508772%;
  }
}
.top__catch {
  font-size: 3rem;
  font-weight: bold;
  font-family: Georgia;
}
.top__text {
  padding: 5rem 0 2.5rem;
}
.top__main {
  padding: 2rem 0 3.75rem;
  margin-left: auto;
}

.advantages {
  padding: 7.5rem 0;
}
.advantages__inner {
  width: 86.4864864865%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.advantages__maru {
  width: 38px;
  height: 38px;
  text-align: center;
  border-radius: 25px;
  background-color: #FFF5DE;
  margin-bottom: 1.5625rem;
  margin-left: auto;
  margin-right: auto;
}
.advantages__title {
  font-size: 3rem;
  font-weight: bold;
  font-family: Georgia;
  text-align: center;
}
@media screen and (min-width:740px) {
  .advantages__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    align-items: stretch;
  }
}
.advantages__topic {
  padding: 5rem 0;
}
@media screen and (min-width:740px) {
  .advantages__topic {
    width: 47.3684210526%;
  }
}
.advantages__border {
  border-top: solid 1px #000;
}
@media screen and (min-width:740px) {
  .advantages__border {
    border-top: none;
  }
}
.advantages__pic {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 2.5rem;
}
.advantages__point {
  font-size: 2.25rem;
  font-weight: bold;
  font-family: Georgia;
}
.advantages__text {
  margin: 2.5rem 0 5rem;
}
.advantages__btn {
  background-color: #1B2D55;
  color: #FFF;
  font-weight: bold;
  padding: 1.25rem 2.8125rem;
  margin-left: auto;
  margin-right: auto;
  width: 197px;
}

.features {
  background-color: #FFF5DE;
  padding-top: 7.5rem;
}
.features__inner {
  width: 86.4864864865%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.features__topic {
  padding-bottom: 7.5rem;
}
@media screen and (min-width:740px) {
  .features__topic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
@media screen and (min-width:740px) {
  .features__second {
    flex-direction: row-reverse;
  }
}
.features__maru {
  width: 38px;
  height: 38px;
  text-align: center;
  border-radius: 25px;
  background-color: #DEF6FF;
  margin-bottom: 1.5625rem;
  margin-left: auto;
  margin-right: auto;
}
.features__title {
  font-size: 3rem;
  font-weight: bold;
  font-family: Georgia;
  text-align: center;
  padding-bottom: 5rem;
}
.features__point {
  font-size: 2.25rem;
  font-weight: bold;
  font-family: Georgia;
}
.features__text {
  margin-top: 2.5rem;
}
.features__ber {
  width: 60px;
  border-bottom: 1px #1B2D55 solid;
  margin: 2.5rem 0 4.6875rem;
}
.features__btn {
  display: flex;
  flex-wrap: wrap;
}
.features__link {
  background-color: #FFF;
  border-radius: 50px;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.9375rem 1.875rem;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
  display: flex;
}
.features__img {
  padding-top: 3.75rem;
}
@media screen and (min-width:740px) {
  .features__img {
    width: 50.8771929825%;
  }
}
@media screen and (min-width:740px) {
  .features__box {
    width: 43.8596491228%;
  }
}
/*# sourceMappingURL=style.css.map */