@charset "utf-8";

$color-main: #5A5A5A;
$color-home: #ED145B;
$color-white: #FFF;
$color-black: #000;
$color-about: #EDAA14;

$breakpoints: (
    "desktop": "screen and (min-width: 640px)",
    "full": "screen and (min-width: 1200px)",
    ) !default;


@mixin m-inner($w: 87.5%, $mw: 640px) {
    width: $w;
    max-width: $mw;
    margin-left: auto;
    margin-right: auto;
}

// @mixin m-inner($w: 69.23%, $mw: 1300px) {
//     width: $w;
//     max-width: $mw;
//     margin-left: auto;
//     margin-right: auto;
// }

@mixin m-query($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

body {
    font-family: Verdana;
    font-size: 14px;
    color: $color-main;
    letter-spacing: 0;
    line-height: 1.7;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    aspect-ratio: 16/9;
    object-fit: cover;

    @include m-query(desktop) {
        aspect-ratio: 4/3;
    }
}

// header
.header {
    background-color: #000;
    position: fixed;
    width: 100%;

    &__inner {
        @include m-inner(
    );
    display: flex;
    justify-content: space-between;
}

&__logo {
    padding: 40px 0;
}
}

.nav {
    &__ul {
        display: flex;
        font-weight: bold;
    }

    &__list {
        color: $color-white;
        padding-left: 30px;
        padding: 40px 0 40px 30px;
    }

    &__active {
        color: $color-home;
    }
}


// footer
.footer {
    background-color: $color-black;
    padding: 60px 0 160px;

    &__inner {
        @include m-inner();
    }

    &__copy {
        color: $color-white;
    }
}

// main
.top {
    background-image: url(../images/bg_mainvisual.png);
    color: $color-white;
    padding: 250px 0 160px;

    @include m-query(desktop) {
        text-align: center;
        padding: 180px 0;
    }

    &__inner {
        @include m-inner();
    }

    &__catch {
        font-size: 46px;
        font-weight: bold;

        span {
            color: $color-home;
        }
    }

    &__text {
        padding-top: 40px;
        margin-bottom: 80px;
    }

    &__btn {
        background-color: $color-home;
        padding: 16px 49px;
        margin-bottom: 166px;
        font-weight: bold;
    }

}

.update {

    margin: 80px 0;

    &__inner {
        @include m-inner();
    }

    &__title {
        font-size: 38px;
        font-weight: bold;
        text-align: center;
        color: #2B2B2B;
    }

    &__topic {
        padding-top: 50px;

        @include m-query(desktop) {
            width: 28.888888%;
        }
    }

    &__img {
        aspect-ratio: 16 / 9;

        @include m-query(desktop) {
            aspect-ratio: 4/3;
        }
    }

    &__name {
        background-color: $color-black;
        color: $color-white;
        padding: 7px 10px;
        margin: 25px 0 20px;
        width: 237px;
        font-weight: bold;
        font-size: 16px;
    }

    &__text {
        color: #707070;
    }

    &__flex {
        @include m-query(desktop) {
            display: flex;
            justify-content: space-between;
        }
    }
}


// about
.service {
    padding: 180px 0 80px;

    &__inner {
        @include m-inner();
    }

    &__title {
        font-size: 38px;
        font-weight: bold;
        text-align: center;
        color: #2B2B2B;
    }

    &__topic {
        margin-top: 60px;
        width: 100%;

        @include m-query(desktop) {
            width: 46.6666%;
        }
    }

    &__img {
        aspect-ratio: 16 / 9;

        @include m-query(desktop) {
            aspect-ratio: 4/3;
        }
    }

    &__name {
        background-color: $color-black;
        color: $color-white;
        padding: 7px 10px;
        margin: 32px 0 27px;
        // width: 237px;
        font-weight: bold;
        font-size: 16px;

        @include m-query(desktop) {
            width: 237px;

        }
    }

    &__right {
        text-align: right;

        @include m-query(desktop) {
            text-align: left;

        }
    }


    &__flex {
        @include m-query(desktop) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}

.testimonials {
    background-image: url(../images/bg_testimonials.png);
    padding: 80px 0;
    text-align: center;

    &__inner {
        @include m-inner();
        background-color: $color-white;
        padding: 50px 50px 67px 50px;
    }

    &__title {
        font-size: 38px;
        font-weight: bold;
        text-align: center;
        color: #2B2B2B;
    }

    &__people {
        margin-left: auto;
        margin-right: auto;
        margin: 50px 0 37px;
    }

    &__text {
        font-style: italic;
        font-size: 16px;
        overflow-wrap: anywhere;
    }

    &__detail {
        margin: 30px 0 50px;
    }

    &__btn {
        background-color: $color-about;
        color: $color-white;
        padding: 17px 49px;
        font-weight: bold;
    }
}